{% extends 'main.html' %}

{% block content %}

{% load static %}

<h5 class="container-fluid">My Projects:</h5>

<div class="container-fluid">
    <ul class="list-group">
        {% if project_list %}
        {% for project in project_list %}
        <li class="list-group-item">
            <a type="button" class="btn btn-xl w-50 text-left bg-light" href="{% url 'project' project.pk %}">
                {% if project.logo %}
                <img src="{{ project.logo.url }}">
                {% else %}
                <img src="{% static 'img/no-image.png' %}">
                {% endif %}
                {{project.name}} --
                {{project.start_date}} {{project.client}},
                {{project.client.company}}
                <a type="button" class="btn btn-success btn- w-15 text-left" href="{% url 'update-project' project.id %}">
                    Edit
                </a>
            </a>

        </li>
        <hr>
        {% endfor %}
    </ul>
    {% else %}
    <h4 class="container-fluid">You don't manage any projects currently</h4>
    {% endif %}
</div>

{% endblock %}
